.sectionWave {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  outline-offset: 5px;
  background-color: oklch(96.68% 0.0257 91.6);
}

.waveContainer {
  display: block;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 10 / 1;
  padding-top: 0.5rem;
  padding-bottom: 2cap;
}

.svgStyle {
  fill: oklch(74.53% 0.1388 89.7);
  width: 125%;
  height: auto;
  transform: rotate(180deg);
  display: block;
  pointer-events: none;
}

@media (min-width: 1025px) {
  .sectionWave {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0 0 0 0;
  }
}
